---

all:
  hosts:
    localhost:
      ansible_connection:         'local'
      ansible_python_interpreter: '/usr/bin/python3'
      ansible_ssh_host:           'localhost'

    nginx:
      ansible_ssh_host: ''

    dbms:
      ansible_ssh_host: ''

  children:
    k8s_cluster:
      children:
        k8s_masters:
          hosts:
            assignment:

  vars:
    ansible_ssh_private_key_file: 'ssh-key.pem'
    ansible_user:                 'ubuntu'
